@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, #root{
  width: 100vw;
  height: 100vh;
  scroll-behavior: smooth;
}

#root{
  background-image: url("assets/images/noise.svg");
}
h1, h2, h3, h4, p{
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

#text{
  animation: anim 10s linear infinite;
}

@keyframes anim{
  0%{
    transform: rotate(0);
  }
  100%{
    transform: rotate(360deg);
  }
}

.circle-text-p span{
  position: absolute;
  left: 50%;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 700;
  font-size: 14px;
  transform-origin: 0 62px;
  color: #7131FF;
}